@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.h_header a:nth-child(2) div {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }

html {
  font-size: 100px; }

@media (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media (min-width: 360px) {
  html {
    font-size: 48px; } }

@media (min-width: 375px) {
  html {
    font-size: 50px; } }

@media (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

.row::after {
  content: "";
  clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/*变量定义*/
body {
  background-color: #fafafa; }

/*头部开始*/
.h_header {
  width: 100%;
  height: 1rem;
  background-color: #29a6dc;
  padding: 0 0.24rem; }
  .h_header a:nth-child(1) div {
    width: 0.51rem;
    height: 1rem;
    background-image: url("../img/h_jiantou_left.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left; }
  .h_header a:nth-child(2) div {
    width: 2.14rem;
    height: 1rem;
    background-image: url("../img/h_banbentitle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left; }

/*头部结束*/
/*轴开始*/
div.linebox {
  width: 100%;
  height: 0.1rem;
  margin-top: 0.2rem;
  padding: 0 0.1rem; }
  div.linebox div.line {
    width: 100%;
    height: 100%;
    background-color: #d5d5d5;
    border-radius: 0.05rem; }

/*轴结束*/
/*更新开始*/
.update {
  width: 7rem;
  height: 7.64rem;
  background: #fff;
  margin: -0.05rem auto;
  box-shadow: 0 0 0.23rem #ccc;
  border-radius: 0.08rem;
  border-top-left-radius: 0;
  padding-top: 0.38rem; }
  .update div.title {
    width: 100%;
    height: 0.5rem;
    text-align: center;
    margin-bottom: 0.24rem; }
    .update div.title li:first-child {
      font-size: 0.3rem;
      line-height: 0.32rem;
      color: #333; }
    .update div.title li:last-child {
      font-size: 0.16rem;
      line-height: 0.16rem;
      color: #959595; }
  .update div.con {
    width: 100%;
    height: auto;
    padding: 0.24rem 0.6rem;
    font-size: 0.22rem;
    color: #b3b3b3; }

/*更新结束*/
