@import "_base";
@import "_cols";
$theme-color: #29a6dc;
.header{
    width: 100%;
    height: 1rem;
    padding: 0 0.24rem;
    @include bg($theme-color);
    position: relative;
    .back{
        @include circle(0.45rem);
        @extend %tb;
        left: 0.24rem;
        background: url(../img/back.png);
        background-size: cover;
        background-position: center center;
    }
    .headercon{
        @include rect(2rem,1rem);
        @extend %center;
        padding: 0.1rem 0;
        h2{
            @include rect(100%,0.46rem);
            font-size: 0.4rem;
            color: #fff;
            text-align: center;
            padding: 0.03rem 0;
        }
        .allrow{
            @include rect(100%,0.1rem);
            @extend %center;
            position: relative;
            padding: 3px 0;
            .smallbox{
                @include rect(0.34rem,3px);
                @extend %center;
                background: url(../img/lhh_row.png) center center;
                background-repeat: no-repeat;
                background-size: cover;                
            }
        }
        p{
            @include rect(100%,0.25rem);
            text-align: center;
            font-size: 0.18rem;
            color: #fff;
            line-height: 0.25rem;
        }
    }
}

        //书评列表
        .commentlist{
            @include rect(100%,auto);
            padding: 0 0.24rem ;
            $color: #d5e1fa;
            ul{
                @include rect(100%,100%);
                margin-top: 0.2rem;
                li{
                    @include rect(100%,1.6rem);
                    box-shadow: 0 0 0.1rem $color;
                    margin-bottom: 0.2rem;
                    border-radius: 0.1rem;
                    padding-left: 0.2rem;
                    padding-top: 0.2rem;
                }
            }
            ul li .leftimg{
                @include rect(0.85rem,1.27rem);
                float: left;
                position: relative;
                margin-right: 0.3rem;
            }
             ul li .leftimg img{
                 @include rect(0.85rem,0.85rem);
             }
             ul li .right{
                 @include rect(5.1rem,1.3rem);
                 float: left;
             }
             ul li .right .texts{
                 @include rect(5.1rem,0.82rem);
                 font-size: 0.2rem;
                 color: #c0c0c0;
                 overflow: hidden;
                 line-height: 1.5em;
                 border-bottom: 1px dashed #a0a0a0;
             } 
             ul li .right .bottom{
                 @include rect(5.3rem,0.5rem);
                 padding-top: 0.05rem;
                 position: relative;
             }
             ul li .right .bottom .date{
                 @include rect(1.7rem,100%);
                 float: left;
             }
             ul li .right .date .dateimg{
                 @include circle(0.4rem);
                 box-shadow: 0 0 0.05rem $color;
                 float: left;
                 background: url(../img/clock.jpg) center center;
                 background-size: 60% 60%;
                 background-repeat: no-repeat;
             }
             ul li .right .date .datetext{
                 @include rect(0.75rem,100%);
                 margin-left: 5px;
                 font-size: 0.14rem;
                 line-height: 0.45rem;
                 color: #D5D5D5;
                 float: left;
             }
             ul li .right .bottom .collect{
                 @include rect(1.4rem,100%);
                 float: right;
             }
             ul li .right .bottom .collect .dateimg{
                 background: url(../img/collect.png) center center;
                 background-size: 60% 60%;
                 background-repeat: no-repeat;
             }
        }
//页脚开始
.foot{
    @include rect(100%,1.25rem);
    $foot-color: #151c2b;
    @include bg($foot-color);
    position: relative;
    .review{
        display: block;
        $colors: #999b9f;
        @include rect(1.45rem,0.52rem);
        border-radius: 0.26rem;
        box-shadow: 0 0 0.07rem $colors;
        @extend %center;
        background: url(../img/lhh_review.png) center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
