@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .back {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.simibook ul li a .topimg, .simibook ul li a .text, .btn ul {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.content .read .readbottom .img, .shuqianbox .box .add .inneradd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

html {
  font-size: 100px;
}

@media (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 136.53333px;
  }
}

body {
  font-size: 16px;
}

.row::after {
  content: "";
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.header {
  width: 100%;
  height: 1rem;
  padding: 0 0.24rem;
  background-color: #29a6dc;
  position: relative;
}

.header .back {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  left: 0.24rem;
  background: url(../img/back.png);
  background-size: cover;
  background-position: center center;
}

.content {
  width: 100%;
  height: 8.8rem;
  padding: 0 0.24rem;
  margin-top: 10px;
}

.content .read {
  width: 100%;
  height: 5.3rem;
  box-shadow: 0 0 0.1rem #d5e1fa;
  padding-bottom: 0.2rem;
  border-radius: 0.1rem;
}

.content .read .readtop {
  width: 100%;
  height: 3.3rem;
}

.content .read .readtop .bookimg {
  width: 3.1rem;
  height: 100%;
  background: url(../img/bookimg.png) center center;
  background-size: 75% 60%;
  background-repeat: no-repeat;
  float: left;
}

.content .read .readtop .bookintro {
  margin-top: 0.64rem;
  width: 3.8rem;
  height: 2.68rem;
  float: left;
  font-family: "微软雅黑";
}

.content .read .readtop .bookintro .bookname {
  width: 100%;
  height: 0.28rem;
  margin-top: 0.2rem;
  font-size: 0.28rem;
  font-weight: bold;
}

.content .read .readtop .bookintro .fatebook {
  width: 100%;
  height: 0.32rem;
}

.content .read .readtop .bookintro .fatebook .fate {
  float: left;
  margin-right: 0.05rem;
  width: 0.6rem;
  height: 0.32rem;
  font-size: 0.2rem;
  line-height: 0.32rem;
  font-weight: bold;
  color: #000;
  padding-top: 0.05rem;
}

.content .read .readtop .bookintro .fatebook .book {
  float: left;
  width: 1rem;
  height: 0.32rem;
  font-size: 0.16rem;
  line-height: 0.33rem;
  color: #000;
  padding-top: 0.05rem;
}

.content .read .readtop .bookintro p {
  width: auto;
  height: 0.26rem;
  font-size: 0.16rem;
  line-height: 0.26rem;
}

.content .read .readtop .bookintro .star {
  width: 100%;
  height: 0.25rem;
}

.content .read .readtop .bookintro .star li {
  float: left;
  width: 0.25rem;
  height: 0.25rem;
  background: url(img/star.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content .read .readtop .bookintro .texts {
  width: 100%;
  height: 0.75rem;
  padding-right: 0.38rem;
  font-size: 0.16rem;
  color: #d6d6d6;
  overflow: hidden;
}

.content .read .readtop .bookintro .list {
  width: 100%;
  height: 0.34rem;
}

.content .read .readtop .bookintro .list li {
  float: left;
  margin-right: 0.15rem;
  width: auto;
  height: 0.34rem;
  padding: 0.06rem 0.18rem;
  background: #67e479;
  font-size: 0.2rem;
  text-align: center;
  line-height: 0.22rem;
  color: #fff;
  border-radius: 0.17rem;
}

.content .read .readcenter {
  width: 100%;
  height: 0.95rem;
}

.content .read .readcenter ul {
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.3rem;
}

.content .read .readcenter ul li {
  width: 2.6rem;
  height: 0.7rem;
  float: left;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 0.1rem #d5e1fa;
  padding: 0 0.40rem;
}

.content .read .readcenter ul li .img {
  float: left;
  width: 0.45rem;
  height: 0.55rem;
  margin-right: 0.15rem;
  margin-top: 0.07rem;
}

.content .read .readcenter ul li .img img {
  width: 0.46rem;
}

.content .read .readcenter ul li p {
  width: 1.2rem;
  height: 0.7rem;
  font-size: 0.24rem;
  line-height: 0.7rem;
  float: left;
  color: #000;
}

.content .read .readbottom {
  width: 100%;
  height: 0.88rem;
  position: relative;
}

.content .read .readbottom .img {
  width: 2.7rem;
  height: 0.72rem;
  background: url(../img/nowread.png) center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content .bookcomment {
  width: 100%;
  height: 3.3rem;
}

.content .bookcomment .commenttitle {
  width: 100%;
  height: 1.1rem;
  padding-left: 0.1rem;
  padding-top: 0.24rem;
}

.content .bookcomment .commenttitle .img {
  width: 0.4rem;
  height: 0.65rem;
  float: left;
  margin-right: 0.2rem;
  background: url(../img/pen.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content .bookcomment .commenttitle .texts {
  width: 5rem;
  height: 0.65rem;
  float: left;
}

.content .bookcomment .commenttitle .texts .p1 {
  width: 100%;
  height: 0.28rem;
  font-size: 0.28rem;
  font-weight: bold;
}

.content .bookcomment .commenttitle .texts .p2 {
  width: 100%;
  height: 0.37rem;
  font-size: 0.16rem;
  line-height: 0.37rem;
  font-family: "微软雅黑";
}

.content .bookcomment .commentlist {
  width: 100%;
  height: 2.2rem;
}

.content .bookcomment .commentlist ul {
  width: 100%;
  height: 100%;
  margin-top: 0.1rem;
}

.content .bookcomment .commentlist ul li {
  width: 100%;
  height: 1.6rem;
  box-shadow: 0 0 0.1rem #d5e1fa;
  margin-bottom: 0.2rem;
  border-radius: 0.1rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
}

.content .bookcomment .commentlist ul li .leftimg {
  width: 0.85rem;
  height: 1.27rem;
  float: left;
  position: relative;
  margin-right: 0.3rem;
}

.content .bookcomment .commentlist ul li .leftimg img {
  width: 0.85rem;
  height: 0.85rem;
}

.content .bookcomment .commentlist ul li .right {
  width: 5.1rem;
  height: 1.3rem;
  float: left;
}

.content .bookcomment .commentlist ul li .right .texts {
  width: 5.1rem;
  height: 0.82rem;
  font-size: 0.2rem;
  color: #c0c0c0;
  overflow: hidden;
  line-height: 1.5em;
  border-bottom: 1px dashed #a0a0a0;
}

.content .bookcomment .commentlist ul li .right .bottom {
  width: 5.3rem;
  height: 0.5rem;
  padding-top: 0.05rem;
  position: relative;
}

.content .bookcomment .commentlist ul li .right .bottom .date {
  width: 1.7rem;
  height: 100%;
  float: left;
}

.content .bookcomment .commentlist ul li .right .date .dateimg {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  box-shadow: 0 0 0.05rem #d5e1fa;
  float: left;
  background: url(../img/clock.jpg) center center;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

.content .bookcomment .commentlist ul li .right .date .datetext {
  width: 0.75rem;
  height: 100%;
  margin-left: 5px;
  font-size: 0.14rem;
  line-height: 0.45rem;
  color: #D5D5D5;
  float: left;
}

.content .bookcomment .commentlist ul li .right .bottom .collect {
  width: 1.4rem;
  height: 100%;
  float: right;
}

.content .bookcomment .commentlist ul li .right .bottom .collect .dateimg {
  background: url(../img/collect.png) center center;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}

.shuqianbox {
  width: 100%;
  height: 2rem;
  padding: 0 0.24rem 0.25rem;
}

.shuqianbox .box {
  width: 100%;
  height: 1.75rem;
  padding-left: 0.2rem;
  padding-top: 0.6rem;
}

.shuqianbox .box .shuqianlogo {
  width: 100%;
  height: 0.75rem;
}

.shuqianbox .box .shuqianlogo .leftimg {
  width: 0.5rem;
  height: 100%;
  float: left;
}

.shuqianbox .box .shuqianlogo .leftimg img {
  width: 0.5rem;
}

.shuqianbox .box .shuqianlogo .righttext {
  width: 4rem;
  height: 100%;
  float: left;
  padding-left: 0.15rem;
  font-family: "微软雅黑";
}

.shuqianbox .box .shuqianlogo .righttext h2 {
  width: 4rem;
  height: 0.3rem;
  font-size: 0.3rem;
  font-weight: normal;
}

.shuqianbox .box .shuqianlogo .righttext p {
  width: 4rem;
  height: 0.45rem;
  font-size: 0.18rem;
  line-height: 0.45rem;
}

.shuqianbox .box .add {
  width: 100%;
  height: 0.9rem;
  position: relative;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.07rem #cee1fe;
}

.shuqianbox .box .add .inneradd {
  width: 1.9rem;
  height: 100%;
  display: block;
}

.shuqianbox .box .add .inneradd .left.iconfont.icon-tianjia {
  width: 0.5rem;
  height: 100%;
  float: left;
  font-size: 0.4rem;
  color: #4f9ed7;
  text-align: center;
  line-height: 0.9rem;
}

.shuqianbox .box .add .inneradd p {
  float: left;
  width: 1.3rem;
  height: 100%;
  font-size: 0.28rem;
  color: #2d2d2d;
  line-height: 0.9rem;
  margin-left: 0.1rem;
}

.simibook {
  width: 100%;
  height: 4.5rem;
  padding: 0 0.24rem;
  margin-top: 0.4rem;
}

.simibook .shuqianlogo {
  width: 100%;
  height: 0.75rem;
}

.simibook .shuqianlogo .leftimg {
  width: 0.5rem;
  height: 100%;
  float: left;
}

.simibook .shuqianlogo .leftimg img {
  width: 0.5rem;
}

.simibook .shuqianlogo .righttext {
  width: 4rem;
  height: 100%;
  float: left;
  padding-left: 0.15rem;
  font-family: "微软雅黑";
}

.simibook .shuqianlogo .righttext h2 {
  width: 4rem;
  height: 0.3rem;
  font-size: 0.3rem;
  font-weight: normal;
}

.simibook .shuqianlogo .righttext p {
  width: 4rem;
  height: 0.45rem;
  font-size: 0.18rem;
  line-height: 0.45rem;
}

.simibook ul {
  width: 100%;
  height: 3.1rem;
  margin-top: 0.2rem;
}

.simibook ul li {
  width: 32%;
  height: 100%;
  float: left;
  margin-right: 0.1rem;
  box-shadow: 0 0 0.1rem #bab9b9;
  border-radius: 0.1rem;
  position: relative;
}

.simibook ul li a {
  display: block;
  width: 32%;
  height: 100%;
  overflow: hidden;
}

.simibook ul li a .leftpoint {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: #F1F1F1;
  position: absolute;
  left: -5px;
  bottom: 0.8rem;
}

.simibook ul li a .rightpoint {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background: #F1F1F1;
  position: absolute;
  right: -5px;
  bottom: 0.8rem;
}

.simibook ul li a .topimg {
  width: 1.78rem;
  height: 2.38rem;
  top: -0.1rem;
  background: url(../img/lhh_img_.png);
  background-size: cover;
  box-shadow: 0 0 0.05rem #bab9b9;
}

.simibook ul li a .text {
  width: 1.6rem;
  height: 0.6rem;
  bottom: 0.16rem;
  font-family: "微软雅黑";
}

.simibook ul li a .text h2 {
  height: 0.2rem;
  font-size: 0.2rem;
  text-align: center;
  color: #555;
  font-weight: normal;
}

.simibook ul li a .text p {
  height: 0.3rem;
  font-size: 0.14rem;
  line-height: 0.3rem;
  color: #b6b6b6;
  text-align: center;
}

.simibook ul .none {
  margin-right: 0;
}

.btn {
  width: 100%;
  height: 0.6rem;
  position: relative;
}

.btn ul {
  width: 1.2rem;
  height: 100%;
}

.btn ul li {
  float: left;
  margin-right: 0.3rem;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  border: 1px solid #0090ff;
  cursor: pointer;
}

.btn ul li.active {
  background: #0090ff;
}

/*# sourceMappingURL=../index.css.map */