* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .back {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.foot .lookall, .header .headercon, .header .headercon .allrow, .header .headercon .allrow .smallbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

html {
  font-size: 100px;
}

@media (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 136.53333px;
  }
}

body {
  font-size: 16px;
}

.row::after {
  content: "";
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.foot {
  width: 100%;
  height: 1.27rem;
  background: #151c2b;
  position: relative;
}

.foot .lookall {
  display: block;
  width: 1.45rem;
  height: 0.51rem;
  background: url(../img/lhh_lookall.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  height: 1rem;
  padding: 0 0.24rem;
  background-color: #29a6dc;
  position: relative;
}

.header .back {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  left: 0.24rem;
  background: url(../img/back.png);
  background-size: cover;
  background-position: center center;
}

.header .headercon {
  width: 3rem;
  height: 1rem;
  padding: 0.1rem 0;
}

.header .headercon h2 {
  width: 100%;
  height: 0.46rem;
  font-size: 0.4rem;
  color: #fff;
  text-align: center;
  padding: 0.03rem 0;
}

.header .headercon .allrow {
  width: 100%;
  height: 0.1rem;
  position: relative;
  padding: 3px 0;
}

.header .headercon .allrow .smallbox {
  width: 0.34rem;
  height: 3px;
  background: url(../img/lhh_row.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .headercon p {
  width: 100%;
  height: 0.25rem;
  text-align: center;
  font-size: 0.18rem;
  color: #fff;
  line-height: 0.25rem;
}

.count {
  width: 100%;
  height: 0.48rem;
  padding: 0 0.24rem;
  background: #e5e5e5;
}

.count p {
  width: 100%;
  height: 0.48rem;
  font-size: 0.2rem;
  color: #979696;
  line-height: 0.48rem;
  text-align: center;
}

.notelist {
  width: 100%;
  height: 10.7rem;
  padding: 0 0.24rem;
}

.notelist ul {
  width: 100%;
  height: auto;
}

.notelist ul li {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.notelist ul li .leftimg {
  width: 0.9rem;
  height: 1.9rem;
  float: left;
  background: url(../img/lhh_pen.png) center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.2rem;
}

.notelist ul li .right {
  float: left;
  width: 5.8rem;
  height: 100%;
}

.notelist ul li .right h2 {
  width: 100%;
  height: 0.38rem;
  padding-top: 0.1rem;
  font-size: 0.28rem;
}

.notelist ul li .right .p1 {
  width: 100%;
  height: 0.34rem;
  font-size: 0.18rem;
  line-height: 0.34rem;
  color: #6d6a6a;
  overflow: hidden;
}

.notelist ul li .right .descripe {
  width: 5.35rem;
  height: 0.9rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  background: url(../img/lhh_note1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.notelist ul li .right .descripe .left.iconfont.icon-bi {
  width: 0.3rem;
  height: 100%;
  float: left;
  font-size: 0.24rem;
  color: #e23d60;
  text-align: center;
}

.notelist ul li .right .descripe .rights {
  width: 4.2rem;
  height: 100%;
  float: left;
}

.notelist ul li .right .descripe .rights p {
  width: 4.2rem;
  height: 100%;
  font-size: 0.2rem;
  line-height: 1.3em;
  color: #d9587a;
  overflow: hidden;
}

.notelist ul li .right .bottom {
  width: 100%;
  height: 0.32rem;
}

.notelist ul li .right .date {
  float: left;
  width: auto;
  height: 100%;
  margin-right: 0.1rem;
}

.notelist ul li .right .date .dateimg.iconfont.icon-jinlingyingcaiwangtubiao74 {
  margin-top: 0.04rem;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
  font-size: 0.18rem;
  color: #8eb1fc;
}

.notelist ul li .right .date .datetext {
  float: left;
  width: auto;
  height: 100%;
  font-size: 0.18rem;
  line-height: 0.32rem;
  color: #4d4b4b;
}

.notelist ul li .right .bottom .eye .dateimg.iconfont.icon-yanjing {
  margin-top: 0.04rem;
  width: 0.3rem;
  height: 0.15rem;
  font-size: 0.26rem;
  color: #fb93ec;
  float: left;
}

.notelist ul .third .right .descripe {
  height: 0.7rem;
  padding-top: 0.1rem;
  background: none;
}

.notelist ul .third .right .descripe .left.iconfont.icon-bi {
  color: #bbb;
}

.notelist ul .third .right .descripe .rights p {
  color: #f22953;
}

.notelist ul li.active {
  width: 7.5rem;
  height: 1.75rem;
  padding-left: 0.74rem;
  background: url(../img/lhh_note21.png);
  background-size: cover;
  position: relative;
  z-index: 11;
  left: -0.24rem;
}

.notelist ul li.active h2, .notelist ul li.active .p1 {
  color: #fff;
}

.notelist ul li.active .right .descripe {
  height: 0.65rem;
  padding-top: 0.1rem;
  background: none;
}

.notelist ul li.active .right .descripe .left.iconfont.icon-bi {
  color: #fff;
}

.notelist ul li.active .right .descripe .rights p {
  color: #119260;
}

.notelist ul li.active .right .date .dateimg.iconfont.icon-jinlingyingcaiwangtubiao74 {
  color: #fff;
}

.notelist ul li.active .right .bottom .eye .dateimg.iconfont.icon-yanjing {
  color: #fff;
}

/*# sourceMappingURL=../index.css.map */