@import "./_cols";
@import "./_base";
//基础颜色
$theme-color:#29a6dc;
$back-color:#2a3441;
$word-color:#357fe4;
//阅读界面背景颜色
//$y_bg-list:#ffe7a7 #fcf3db #ffe9b0 #d8a764 #3876ac #21858e #f4c5d4 #79d143;
$y_bg-color:#ffe7a7;

//阅读内容字体大小
$y_size:1.5em;
$y_word:0.14rem;

html{
  min-height:100%;
  background:$y_bg-color;
  position:relative;
}

//剪切效果
.y_allbiao{
  width:3.96rem;
  height:0.46rem;
  @include bg(#272727);
  border-radius:0.08rem;
  position:relative;
  .y_biao{
    width:100%;
    height:100%;
    border-radius:0.08rem;
    overflow:hidden;
    .y_copy{
      display:block;
      float:left;
      width:20%;
      height:100%;
      border-right:1px solid #202020;
      color:#fff;
      line-height:0.46rem;
      text-align:center;
      font-size:0.16rem;
    }
  }
  .y_san{
    width:0.16rem;
    height:0.09rem;
    @extend %lr;
    top:0.46rem;
    img{
      width:100%;
      height:100%;
    }
  }
}

//选中文字出现效果
.y_redxuan{
  min-width:0.5rem;
  height:$y_size;
  @include bg(#fff100);
  position:relative;
  img{
    width:0.15rem;
    height:0.51rem;
  }
  .y_li{
    @extend %tb;
    right:0;
  }
}

.y_content{
  width:100%;
  height:100%;
  padding:0 0.4rem 0 0.23rem;
  //导航栏
  .y_nav{
    width:100%;
    height:1rem;
    .y_top{
      width:100%;
      height:0.26rem;
      position:relative;
      .y_xian{
        width:100%;
        height:2px;
        background:#a1946e;
        float:left;
        margin-top:0.12rem;
      }
      i{
        padding:0 0.07rem;
        font-style:normal;
        font-size:0.14rem;
        float:left;
        background:$y_bg-color;
        @extend %tb;
        left:0.23rem;
      }
    }
    .y_bottom{
      width:100%;
      height:0.74rem;
      line-height:0.74rem;
      h5{
        color:#454138;
        font-size:0.28rem;
        margin-right:0.15rem;
        float:left;
      }
    }
  }
//  内容部分
  .y_container{
    width:100%;
    max-height:11.47rem;
    padding:0 0.3rem;

    .y_nei{
      width:100%;
      height:auto;
      font-size:$y_word;
      line-height:$y_size;
    }
    pre {white-space: pre-wrap;      white-space: -moz-pre-wrap; white-space: -pre-wrap;     white-space: -o-pre-wrap;   word-wrap: break-word;      }
  }
//  底部进度部分
  .y_foot{
    width:100%;
    height:0.56rem;
    position:absolute;
    bottom:0;
    right:0;
    .y_pro{
      width:auto;
      height:100%;
      padding-left:0.5rem;
      float:left;
      i{
        font-style:normal;
        font-size:0.2rem;
        color:#363028;
      }
      b{
        font-weight:normal;
        font-size:0.2rem;
        color:#363028;
      }
    }
    .y_page{
      width:auto;
      height:100%;
      float:right;
      padding-right:0.4rem;
      b{
        font-weight:normal;
        font-size:0.2rem;
        color:#363028;
       }
      i{
        font-style:normal;
        font-size:0.2rem;
        color:#363028;
        }
      em{
        font-style:normal;
        font-size:0.2rem;
        color:#363028;
        }
    }
  }
}
