* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Microsoft YaHei";
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .back, .y_bqk .y_bikuang, .y_bqk .y_sure {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header .headercon, .header .headercon .allrow, .header .headercon .allrow .smallbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

html {
  font-size: 100px;
}

@media (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}

body {
  font-size: 16px;
}

.row::after {
  content: "";
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

html {
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  height: 1rem;
  padding: 0 0.24rem;
  background-color: #29a6dc;
  position: relative;
}

.header .back {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background-color: #fff;
  left: 0.24rem;
  text-align: center;
  line-height: 0.45rem;
}

.header .back span {
  font-size: 0.16rem;
  color: #41b0df;
}

.header .headercon {
  width: 3rem;
  height: 1rem;
  padding: 0.1rem 0;
}

.header .headercon h2 {
  width: 100%;
  height: 0.46rem;
  font-size: 0.4rem;
  color: #fff;
  text-align: center;
  padding: 0.03rem 0;
}

.header .headercon .allrow {
  width: 100%;
  height: 0.1rem;
  position: relative;
  padding: 3px 0;
}

.header .headercon .allrow .smallbox {
  width: 0.34rem;
  height: 3px;
  background: url(../img/y_6.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .headercon p {
  width: 100%;
  height: 0.25rem;
  text-align: center;
  font-size: 0.18rem;
  color: #fff;
  line-height: 0.25rem;
}

.y_time {
  width: 100%;
  height: 0.54rem;
  padding: 0 0.2rem;
}

.y_time span {
  display: block;
  float: left;
  width: 0.6rem;
  height: 100%;
  line-height: 0.54rem;
  color: #838383;
  font-size: 0.26rem;
  text-align: center;
}

.y_time .y_timer {
  width: auto;
  height: 100%;
  line-height: 0.54rem;
  color: #838383;
  float: left;
  margin-right: 0.16rem;
}

.y_time .y_noon {
  width: auto;
  height: 100%;
  line-height: 0.54rem;
  color: #838383;
  margin-right: 0.06rem;
  float: left;
}

.y_time .y_clock {
  width: auto;
  height: 100%;
  line-height: 0.54rem;
  color: #838383;
  float: left;
}

.y_write {
  width: 100%;
  height: 3.3rem;
  padding: 0 0.2rem;
  position: relative;
}

.y_write .y_kxian {
  width: 6.2rem;
  height: 0.02rem;
  background-color: #d1d1d1;
  position: absolute;
  top: 0;
  left: 0.3rem;
}

.y_write .y_kuang {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 8px #f0f0f0;
  padding: 0.1rem;
  line-height: 1.2em;
}

.y_write .y_kuang pre {
  font-size: 0.22rem;
}

.y_write .y_kuang pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.y_gai {
  width: 100%;
  height: 1rem;
  padding: 0 0.24rem;
  margin-top: 0.2rem;
}

.y_gai .y_bian {
  width: 100%;
  height: 100%;
  padding-left: 0.2rem;
  box-shadow: 0 0 8px #efefef;
  border-radius: 4px;
  border: 0;
  outline: none;
  color: #a9a9a9;
  font-size: 0.2rem;
}

.y_bqk {
  width: 100%;
  height: 0.61rem;
  padding: 0 0.24rem;
  position: relative;
  margin-top: 0.5rem;
}

.y_bqk .y_bikuang {
  display: block;
  width: 1.69rem;
  height: 0.61rem;
  left: 1rem;
}

.y_bqk .y_bikuang img {
  width: 100%;
  height: 100%;
}

.y_bqk .y_sure {
  display: block;
  width: 1.69rem;
  height: 0.61rem;
  right: 1rem;
}

.y_bqk .y_sure img {
  width: 100%;
  height: 100%;
}
