@import "_base";
@import "_cols";
$z_white_color:#fff;
$z_nav_color:#29a6dc;
$z_foot_color:#151c2b;
$z_foot_hover:#121825;
$z_conpadding:0.24rem;
$z_yellow_color:#ffc63e;
$z_black_font:#333;
$z_gray_font:#b6b6b6;
$z_search_font:#666;
$z_search_border:#1074b5;
$z_shadow:0 0 8px #666;
$z_bg_color:#f2f2f2;


/*头部 开始*/
.z_nav_box{
  padding:0 $z_conpadding;
  @include rect(100%,1rem);
  background:$z_nav_color;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  .z_nav_search{
    @include rect(0.44rem,100%);
    @extend %tb;
    right:$z_conpadding;
    img{
      width:0.44rem;
      @extend %center;
    }
  }
}
/*头部 结束*/

/*筛选 开始*/
.z_shai{
  width:5.7rem;
  height:0.84rem;
  border-radius: 0.42rem;
  @extend %center;
  background:#2a3441;
}
.z_shai_all{
  width:1.65rem;
  height:0.7rem;
  border-radius: 0.35rem;
  img{
    @extend %center;
    width:0.76rem;
  }
}
.z_shai_left{
  @extend %tb;
  left:0.08rem;
}
.z_shai_mid{
  @extend %center;
}
.z_shai_right{
  @extend %tb;
  right:0.08rem;
}

.z_dian{
  width:1.05rem;
  height:0.03rem;
  @extend %center;
  display:none;
  span{
    display:block;
    width:0.03rem;
    height:0.03rem;
    background:#fff;
    border-radius: 50%;
  }
  .z_dian_left{
    float:left;
    margin-right:0.03rem;
  }
  .z_dian_right{
    float:right;
    margin-left:0.03rem;
  }
}

.z_shai_all.active{
  border:0.02rem solid #fff;
  background:$z_nav_color;
  .z_dian{
    display:block;
  }
}

.z_shu_all{
  width:0.03rem;
  height:0.6rem;
  @extend %tb;
  img{
    width:0.03rem;
  }
}

.z_shu_left{
  left:1.88rem;
}
.z_shu_right{
  right:1.88rem;
}
/*筛选 结束*/

/*内容 开始*/
.z_con_box{
  margin-top:1rem;
  width:100%;
  min-height:1rem;
  .z_con{
    width:100%;
    height:2.7rem;
    background:url(../img/banner3.png);
    background-size:cover;
    margin-bottom:0.1rem;
    .z_con_left{
      float:left;
      width:50%;
      height:100%;
      text-align:center;
      padding-top:0.55rem;
      color:#fff;
      padding-left:0.24rem;
    }
    .z_con_right{
      float:left;
      width:50%;
      height:100%;
      text-align:center;
      padding-top:0.55rem;
      color:#fff;
      padding-right:0.24rem;
    }
  }
}
.z_con_right{
  li{
    font-size:12px;
    line-height:0.5rem;
    span{
      font-family:"微软雅黑";
      font-weight: bold;
      font-size:16px;
    }
    .span2{
      font-size:18px;
    }
  }
}
/*内容 结束*/



/*foot 开始*/
.z_foot_box{
  width:100%;
  height:1rem;
  background:$z_foot_color;
  position:fixed;
  bottom:0;
  left:0;
  padding:0.1rem 0;
  z-index: 100;
  .z_foot{
    height:100%;
    border-right:1px solid #717171;
    text-align: center;
    color:#717171;

    .z_logo_span{
      padding:0.05rem 0;
      font-size:0.45rem;
      line-height: 0.45rem;
    }
    .z_wenzi_span{
      font-size:0.14rem;
    }
  }
  .z_foot.active{
    background:$z_foot_hover;
  }
  .z_foot.active{
    color:$z_white_color;
    font-weight: bold;
  }
}
/*foot 结束*/