@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.z_nav_box .z_nav_search {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.z_banner_box .z_btn_box, .z_img_li {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.z_nav_box .z_nav_title, .z_nav_box .z_nav_search img, .z_banner_box img, .z_read_left img, .z_read_go a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.row::after {
  content: "";
  clear: both;
}

/*750px*/
html {
  font-size: 100px;
}

@media (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 136.53333px;
  }
}

body {
  font-size: 16px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

* {
  font-family: "宋体";
}

/*头部 开始*/
.z_nav_box {
  padding: 0 0.24rem;
  width: 100%;
  height: 1rem;
  background: #29a6dc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.z_nav_box .z_nav_title {
  width: 1.6rem;
  height: 0.65rem;
}

.z_nav_box .z_nav_title img {
  width: 1.6rem;
}

.z_nav_box .z_nav_search {
  width: 0.44rem;
  height: 100%;
  right: 0.24rem;
}

.z_nav_box .z_nav_search img {
  width: 0.44rem;
}

/*头部 结束*/
/*banner 开始*/
.z_banner_box {
  margin-top: 1rem;
  width: 100%;
  height: 4.1rem;
  background: url(../img/banner1.png);
  background-size: 96% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  /*btn 开始*/
  /*btn 结束*/
}

.z_banner_box img {
  width: 6.65rem;
  height: 3.2rem;
}

.z_banner_box .z_btn_box {
  width: 0.6rem;
  height: 0.08rem;
  bottom: 0.1rem;
}

.z_banner_box .z_btn_box .z_btn {
  float: left;
  margin: 0 0.06rem;
  width: 0.08rem;
  height: 0.08rem;
  border: 1px solid #29a6dc;
  border-radius: 50%;
}

.z_banner_box .z_btn_box .z_btn.active {
  background: #29a6dc;
}

/*banner 结束*/
/*内容 开始*/
/* 最新上架 开始*/
.z_releases {
  width: 100%;
  height: 4.8rem;
  padding: 0 0.24rem;
}

.z_releases .z_rel_top {
  width: 100%;
  height: 0.6rem;
}

.z_releases .z_rel_top .z_rel_star {
  float: left;
  width: 0.30rem;
  height: 0.3rem;
  background: #ffc63e;
  margin: 0 8px;
  border-radius: 50%;
  line-height: 0.3rem;
  text-align: center;
  color: #fff;
}

.z_releases .z_rel_top .z_rel_star span {
  font-size: 12px;
}

.z_releases .z_rel_top .z_rel_title {
  width: 80%;
  height: 100%;
  float: left;
}

.z_releases .z_rel_top img {
  margin-left: 2px;
}

.z_releases .z_rel_top h6 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

.z_releases .z_rel_bottom {
  width: 100%;
  height: 4.2rem;
  overflow: hidden;
}

.z_releases .z_rel_bottom .z_book_box {
  width: 10rem;
}

.z_releases .z_rel_bottom .z_book_back {
  position: relative;
  float: left;
  width: 2.5rem;
  height: 3.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-right: 8px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0 0 8px #666;
}

/*book 处理 开始*/
.z_img_li {
  border: 1px solid #fff;
  width: 2.1rem;
  height: 2.78rem;
  position: relative;
  top: -0.15rem;
}

.z_img_li img {
  width: 2.1rem;
}

.z_zuozhe {
  width: 100%;
  text-align: center;
}

.z_zuozhe a {
  color: #333;
}

.z_jianjie {
  width: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
}

.z_jianjie a {
  color: #b6b6b6;
}

/*book 处理 结束*/
/*最新上架 结束*/
/*最近阅读 开始*/
.z_rel_read {
  width: 100%;
  height: auto;
  padding: 0 0.24rem;
  margin-bottom: 1.2rem;
}

.z_rel_read .z_rel_top {
  width: 100%;
  height: 0.6rem;
}

.z_rel_read .z_rel_top .z_rel_star {
  float: left;
  width: 0.30rem;
  height: 0.3rem;
  background: #ffc63e;
  margin: 0 8px;
  border-radius: 50%;
  line-height: 0.3rem;
  text-align: center;
  color: #fff;
}

.z_rel_read .z_rel_top .z_rel_star span {
  font-size: 12px;
}

.z_rel_read .z_rel_top .z_rel_title {
  width: 80%;
  height: 100%;
  float: left;
}

.z_rel_read .z_rel_top img {
  margin-left: 2px;
}

.z_rel_read .z_rel_top h6 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

.z_rel_read .z_read_bottom {
  padding-top: 0.14rem;
  width: 100%;
  height: auto;
}

.z_rel_read .z_read_bottom .z_read_book {
  width: 7rem;
  height: 2.2rem;
  background: #fff;
  box-shadow: 0 0 8px #666;
  margin: 0.1rem auto;
}

/*read book 开始*/
.z_read_left {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
}

.z_read_left img {
  width: 1.38rem;
  height: 2.0rem;
}

.z_read_right {
  padding: 2px 0;
  float: left;
  width: 75%;
  height: 100%;
}

.z_read_right .z_right_title h4 {
  color: #333;
  font-size: 16px;
}

.z_read_right .z_right_title h5 {
  color: #7f7f7f;
  font-weight: normal;
  font-size: 14px;
}

.z_read_right .z_right_title h6 {
  color: #b6b6b6;
  font-size: 0.14rem;
  font-weight: normal;
}

.z_read_right .z_right_title .z_title_span {
  color: #b6b6b6;
  font-size: 0.14rem;
}

.z_read_right .z_right_title .z_title_dian {
  width: 100%;
  height: 0.2rem;
  line-height: 0.2rem;
  color: #b6b6b6;
}

.z_read_right .z_right_title .z_title_dian span {
  display: block;
  width: 100%;
  height: 0.2rem;
  line-height: 0.2rem;
}

.z_read_right .z_right_bottom li {
  float: left;
}

.z_read_right .z_right_bottom li span {
  color: #b6b6b6;
  line-height: 0.6rem;
}

.z_read_right .z_right_bottom li .z_read_liang {
  color: #94d1e6;
}

.z_read_right .z_right_bottom .z_read_tiao {
  width: 1.7rem;
  height: 0.1rem;
  background: #d4d4d4;
  margin-top: 0.25rem;
  margin-left: 0.1rem;
  border-radius: 0.05rem;
}

.z_read_right .z_right_bottom .z_read_tiao .z_read_gun {
  width: 36%;
  height: 100%;
  background: #94d1e6;
  border-radius: 0.05rem;
}

.z_read_right .z_right_bottom .z_read_go {
  float: right;
  width: 1.8rem;
  height: 0.44rem;
  background: #29a6dc;
  border-radius: 0.22rem;
  margin-right: 0.1rem;
  margin-top: 0.05rem;
}

.z_read_go {
  position: relative;
}

.z_read_go span {
  display: block;
  width: 0.04rem;
  height: 0.04rem;
  float: left;
  margin-top: 0.2rem;
  margin-left: 0.08rem;
  border-radius: 50%;
}

.z_read_go .z_span1 {
  background: rgba(255, 255, 255, 0.5);
}

.z_read_go .z_span2 {
  background: rgba(255, 255, 255, 0.3);
}

.z_read_go a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.44rem;
  color: #fff;
  font-size: 0.21rem;
}

/*read book 结束*/
/*最近阅读 结束*/
/*内容 结束*/
/*foot 开始*/
.z_foot_box {
  width: 100%;
  height: 1rem;
  background: #151c2b;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.1rem 0;
}

.z_foot_box .z_foot {
  height: 100%;
  border-right: 1px solid #717171;
  text-align: center;
  color: #717171;
}

.z_foot_box .z_foot .z_logo_span {
  padding: 0.05rem 0;
  font-size: 0.45rem;
  line-height: 0.45rem;
}

.z_foot_box .z_foot .z_wenzi_span {
  font-size: 0.14rem;
}

.z_foot_box .z_foot.active {
  background: #121825;
}

.z_foot_box .z_foot.active {
  color: #fff;
  font-weight: bold;
}

/*foot 结束*/

/*# sourceMappingURL=index.css.map */