@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.z_nav_box .z_nav_left, .z_nav_box .z_nav_right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.z_nav_box .z_nav_mid, .z_nav_box .z_nav_mid .z_search img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.row::after {
  content: "";
  clear: both;
}

/*750px*/
html {
  font-size: 100px;
}

@media (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 136.53333px;
  }
}

body {
  font-size: 16px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/*头部 开始*/
.z_nav_box {
  width: 100%;
  height: 1rem;
  background: #29a6dc;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 0.24rem;
}

.z_nav_box .z_nav_left {
  width: 0.5rem;
  height: 0.5rem;
  border: 0.04rem solid #1074b5;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 0.45rem;
  color: #29a6dc;
}

.z_nav_box .z_nav_right {
  right: 0.24rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.04rem solid #1074b5;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 0.5rem;
  color: #29a6dc;
}

.z_nav_box .z_nav_mid {
  width: 75%;
  height: 0.54rem;
  background: #fff;
  border-radius: 0.27rem;
  overflow: hidden;
  /*搜索*/
}

.z_nav_box .z_nav_mid .z_search {
  float: left;
  width: 0.57rem;
  height: 100%;
  position: relative;
  background: #eaeaea;
}

.z_nav_box .z_nav_mid .z_search img {
  width: 0.27rem;
}

.z_nav_box .z_nav_mid input {
  outline: none;
  border: 0;
  margin-top: 0.15rem;
  padding-left: 0.15rem;
  color: #b6b6b6;
}

/*头部 结束*/
/*内容 开始*/
.z_con_box {
  width: 100%;
  min-height: 10rem;
  margin-top: 1rem;
  background: #f2f2f2;
  padding: 0.24rem;
}

.z_con_box .z_rel_top {
  width: 100%;
  height: 0.6rem;
  margin-bottom: 0.22rem;
}

.z_con_box .z_rel_top .z_rel_star {
  float: left;
  width: 0.30rem;
  height: 0.3rem;
  background: #ffc63e;
  margin: 0 0.08rem;
  border-radius: 50%;
  line-height: 0.3rem;
  text-align: center;
  color: #fff;
}

.z_con_box .z_rel_top .z_rel_star span {
  font-size: 0.18rem;
}

.z_con_box .z_rel_top .z_rel_title {
  width: 80%;
  height: 100%;
  float: left;
}

.z_con_box .z_rel_top img {
  margin-left: 2px;
}

.z_con_box .z_rel_top h6 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

.z_hot {
  width: 100%;
  min-height: 1.67rem;
}

.z_hot .z_hot_book {
  border-radius: 0.05rem;
  margin: 0.08rem 0;
  box-shadow: 0 0 8px #666;
  width: 100%;
  height: 1.67rem;
  padding-top: 0.08rem;
  padding-left: 0.08rem;
  background: #fff;
}

.z_hot_img {
  float: left;
  width: 2.4rem;
  height: 1.52rem;
  border-right: 1px dashed #b6b6b6;
}

.z_hot_img img {
  width: 2.27rem;
  height: 100%;
}

.z_hot_jianjie {
  width: 4.4rem;
  height: 100%;
  float: left;
  padding: 0 0.15rem;
}

.z_hot_jianjie h4 {
  color: #333;
  font-weight: normal;
  font-family: "宋体";
  padding: 5px 0;
}

.z_hot_jianjie h5 {
  color: #b6b6b6;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.3em;
}

.z_hot_jianjie .z_jianjie_bottom {
  width: 100%;
  height: 0.40rem;
}

.z_hot_jianjie .z_jianjie_bottom .z_chuban, .z_hot_jianjie .z_jianjie_bottom .z_dizhi {
  float: left;
}

.z_hot_jianjie .z_jianjie_bottom .z_chuban .iconfont, .z_hot_jianjie .z_jianjie_bottom .z_dizhi .iconfont {
  color: #29a6dc;
  font-size: 12px;
}

.z_hot_jianjie .z_jianjie_bottom .z_chuban .z_zhi, .z_hot_jianjie .z_jianjie_bottom .z_dizhi .z_zhi {
  color: #b6b6b6;
  font-size: 12px;
}

.z_hot_jianjie .z_jianjie_bottom .z_dizhi {
  float: right;
}

/*内容 结束*/
/*foot 开始*/
.z_foot_box {
  width: 100%;
  height: 1rem;
  background: #151c2b;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.1rem 0;
}

.z_foot_box .z_foot {
  height: 100%;
  border-right: 1px solid #717171;
  text-align: center;
  color: #717171;
}

.z_foot_box .z_foot .z_logo_span {
  padding: 0.05rem 0;
  font-size: 0.45rem;
  line-height: 0.45rem;
}

.z_foot_box .z_foot .z_wenzi_span {
  font-size: 0.14rem;
}

.z_foot_box .z_foot.active {
  background: #121825;
}

.z_foot_box .z_foot.active {
  color: #fff;
  font-weight: bold;
}

/*foot 结束*/

/*# sourceMappingURL=index.css.map */