<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>偏好选择</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>h_loveSelect.css">
</head>
<body>
<!--头部开始-->
<div class="h_header">
    <a href="/book/index.php/index/h_set"><div></div></a>
    <a href="javascript:;"><div></div></a>
</div>
<!--头部结束-->
<!--中间开始-->
<ul class="middle">
    <div>
        <li>艺术</li>
        <li>军事经济</li>
    </div>
    <div>
        <li>社会哲学</li>
        <li class="active"><span></span>医学卫生<span></span></li>
        <li>交通</li>
    </div>
    <div>
        <li>农业</li>
        <li>马克思主义</li>
    </div>
    <div>
        <li>政治</li>
        <li>工业技术</li>
        <li class="active"><span></span>法律<span></span></li>
    </div>
    <div>
        <li class="active"><span></span>毛泽东思想<span></span></li>
        <li>航空航天</li>
    </div>
    <div>
        <li>文化/教育/科学/体育</li>
        <li class="active"><span></span>综合性科学<span></span></li>
    </div>
    <div>
        <li class="active"><span></span>环境科学/劳动保护科学<span></span></li>
    </div>
</ul>
<!--中间结束-->
<!--底部开始-->
<div class="actived"><span class="smalldian"></span><span class="word">开启阅读</span><span class="smalldian"></span></div>
<!--底部结束-->
</body>
</html>