<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>个人中心</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>h_personal_center.css">
</head>
<body>
<!--头部开始-->
<div class="h_header">
    <a href="/book/index.php/index/h_set"><div></div></a>
    <a href="javascript:;"><div></div></a>
    <a href="/book/index.php/index/h_sysInform"><div></div></a>
</div>
<!--头部结束-->
<!--中间开始-->
<div class="h_middle">
    <a href="/book/index.php/index/h_aboutme"><img src="<?php echo IMG_PATH ?>h_photo.gif" alt=""></a>
    <span>烟雨九华</span>
    <div><span>时间从未走远，在那些始终和时间赛跑的人身上。</span><span class="iconfont">&#xe60d;</span></div>
</div>
<!--中间结束-->
<!--更新开始-->
<ul class="update">
    <li><a href="/book/index.php/index/h_banben"><div></div></a><span class="iconfont">&#xe658;</span><p>V1.0</p></li>
    <li><a href="/book/index.php/index/h_update"><div></div></a><span class="iconfont">&#xe658;</span></li>
    <li><a href="javascript:;"><div></div></a></li>
    <li><a href="/book/index.php/index/h_suggest"><div></div></a></li>
</ul>
<!--更新结束-->
<!--底部开始-->
<div class="bottom">
    <a href="/book/index.php/index/z_mybook">
        <div>
            <ul>
                <span class="iconfont">&#xe68e;</span>
                <li>书架</li>
            </ul>
        </div>
    </a>
    <a href="/book/index.php/index/z_jingxuan">
        <div>
            <ul>
                <span class="iconfont">&#xe613;</span>
                <li>书城</li>
            </ul>
        </div>
    </a>
    <a href="javascript:;">
        <div>
            <ul class="active">
                <span class="iconfont">&#xe64f;</span>
                <li>我的</li>
            </ul>
        </div>
    </a>
</div>
<!--底部结束-->
</body>
</html>