<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>个人中心</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>h_update.css">
</head>
<body>
<!--头部开始-->
<div class="h_header">
    <div></div>
    <div></div>
    <div></div>
</div>
<!--头部结束-->
<!--中间开始-->
<div class="h_middle">
    <img src="<?php echo IMG_PATH ?>h_photo.gif" alt="">
    <ul class="imgs">
        <li><img src="<?php echo IMG_PATH ?>h_queen.png" alt=""></li>
        <li><img src="<?php echo IMG_PATH ?>h_queen.png" alt=""></li>
        <li><img src="<?php echo IMG_PATH ?>h_queen.png" alt=""></li>
    </ul>
    <span>烟雨九华</span>
    <div><span>时间从未走远，在那些始终和时间赛跑的人身上。</span><span class="iconfont">&#xe60d;</span></div>
</div>
<!--中间结束-->
<!--更新开始-->
<ul class="update">
    <li><div></div><span class="iconfont">&#xe658;</span><p>V1.0</p></li>
    <li><div></div><span class="iconfont">&#xe658;</span></li>
    <li><div></div></li>
    <li><div></div></li>
</ul>
<!--更新结束-->
<!--底部开始-->
<div class="bottom">
    <div>
        <ul>
            <span class="iconfont">&#xe68e;</span>
            <li>书架</li>
        </ul>
    </div>
    <div>
        <ul>
            <span class="iconfont">&#xe613;</span>
            <li>书城</li>
        </ul>
    </div>
    <div>
        <ul class="active">
            <span class="iconfont">&#xe64f;</span>
            <li>我的</li>
        </ul>
    </div>
</div>
<!--底部结束-->
<!--遮罩开始-->
<a href="/book/index.php/index/h_personal_center">
    <div class="zhezhao">
        <div class="alert">
            <div class="top">
                <div class="dian"></div>
                <div class="title"></div>
                <div class="dian"></div>
            </div>
            <div class="bottom"></div>
        </div>
    </div>
</a>
<!--遮罩结束-->
</body>
</html>