<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>全部书评</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>lhh_allview.css" />
</head>
<body>
	<!--头部开始-->
	<div class="header">
		<div class="back"></div>
		<div class="headercon">
			<h2>全部书评</h2>
			<div class="allrow">
				<div class="smallbox"></div>
			</div>
			<p>ALL THE BOOKS</p>
		</div>
	</div>
	<!--头部结束-->
	<!--评论列表开始-->
	<div class="commentlist">
		<ul>
			<li>
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>1.jpg" alt="" />
				</div>
				<div class="right">
					<p class="texts">缘分，它是出自佛教的一种宗教概念，儒家和道家并不讲缘分，也不讲你与...</p>
					<div class="bottom">
						<div class="date">
							<div class="dateimg"></div>
							<div class="datetext">2016.10.18</div>
						</div>
						<div class="date collect">
							<div class="dateimg"></div>
							<div class="datetext">6434</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>2.jpg" alt="" />
				</div>
				<div class="right">
					<p class="texts">茫茫人海中两人从相遇，相识，相知，或是相亲相爱，这就是缘分；缘分无需等待...</p>
					<div class="bottom">
						<div class="date">
							<div class="dateimg"></div>
							<div class="datetext">2016.10.18</div>
						</div>
						<div class="date collect">
							<div class="dateimg"></div>
							<div class="datetext">6667</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>1.jpg" alt="" />
				</div>
				<div class="right">
					<p class="texts">缘分，它是出自佛教的一种宗教概念，儒家和道家并不讲缘分，也不讲你与...</p>
					<div class="bottom">
						<div class="date">
							<div class="dateimg"></div>
							<div class="datetext">2016.10.18</div>
						</div>
						<div class="date collect">
							<div class="dateimg"></div>
							<div class="datetext">6434</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>2.jpg" alt="" />
				</div>
				<div class="right">
					<p class="texts">茫茫人海中两人从相遇，相识，相知，或是相亲相爱，这就是缘分；缘分无需等待...</p>
					<div class="bottom">
						<div class="date">
							<div class="dateimg"></div>
							<div class="datetext">2016.10.18</div>
						</div>
						<div class="date collect">
							<div class="dateimg"></div>
							<div class="datetext">6667</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>1.jpg" alt="" />
				</div>
				<div class="right">
					<p class="texts">缘分，它是出自佛教的一种宗教概念，儒家和道家并不讲缘分，也不讲你与...</p>
					<div class="bottom">
						<div class="date">
							<div class="dateimg"></div>
							<div class="datetext">2016.10.18</div>
						</div>
						<div class="date collect">
							<div class="dateimg"></div>
							<div class="datetext">6434</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>2.jpg" alt="" />
				</div>
				<div class="right">
					<p class="texts">茫茫人海中两人从相遇，相识，相知，或是相亲相爱，这就是缘分；缘分无需等待...</p>
					<div class="bottom">
						<div class="date">
							<div class="dateimg"></div>
							<div class="datetext">2016.10.18</div>
						</div>
						<div class="date collect">
							<div class="dateimg"></div>
							<div class="datetext">6667</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!--评论列表结束-->
	<!--页脚开始-->
	<div class="foot">
		<a href="/book/index.php/index/lhh_comment" class="review"></a>
	</div>
	<!--页脚结束-->
</body>
</html>