<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>书页2</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>lhh_page2.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo ICON_PATH ?>iconfont.css" />
</head>
<body>
	<div class="header">
		<div class="back"></div>
	</div>
	<div class="content">
		<div class="read">
			<div class="readtop">
				<div class="bookimg"></div>
				<div class="bookintro">
					<div class="bookname">缘分就是一本书 </div>
					<div class="fatebook">
						<div class="fate">FATE</div>
						<div class="book">BOOK</div>
					</div>
					<p>作者:鲁迅</p>
					<p>年代:近代</p>
					<ul class="star">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="texts">这是一部文学类小说，记录了作者的言行举止，是一部古今中外的优秀作品，写了许多外国经典的任务故事...</div>
					<ul class="list">
						<li>文学</li>
						<li>名人</li>
						<li>小说</li>
					</ul>
				</div>
			</div>
			<div class="readcenter">
				<ul>
					<li>
						<div class="img">
							<img src="<?php echo IMG_PATH ?>book.jpg" alt="" />
						</div>
						<p>查看目录</p>
					</li>
					<li>
						<div class="img">
							<img src="<?php echo IMG_PATH ?>filebag.jpg" alt="" />
						</div>
						<p>加入书架</p>
					</li>
				</ul>
			</div>
			<div class="readbottom">
				<div class="img"></div>
			</div>
		</div>
		<!--最新书评开始-->
		<div class="bookcomment">
			<div class="commenttitle">
				<div class="img"></div>
				<div class="texts">
					<p class="p1">最新书评</p>
					<p class="p2">THE LATEST BOOK REVIEW</p>
				</div>
			</div>
			<div class="commentlist">
				<ul>
					<li>
						<div class="leftimg">
							<img src="<?php echo IMG_PATH ?>1.jpg" alt="" />
						</div>
						<div class="right">
							<p class="texts">缘分，它是出自佛教的一种宗教概念，儒家和道家并不讲缘分，也不讲你与...</p>
							<div class="bottom">
								<div class="date">
									<div class="dateimg"></div>
									<div class="datetext">2016.10.18</div>
								</div>
								<div class="date collect">
									<div class="dateimg"></div>
									<div class="datetext">6434</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--最新书评结束-->
	</div>          
	<!--我的书签开始-->
	<div class="shuqianbox">
		<div class="box">
			<div class="shuqianlogo">
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>shuqian-small.jpg" alt="" />
				</div>
				<div class="righttext">
					<h2>我的书签</h2>
					<p>THE LATEST BOOK REVIEW</p>
				</div>
			</div>
			<!--添加开始-->
			<div class="add">
				<a href="" class="inneradd">
					<div class="left iconfont icon-tianjia"></div>
					<p>添加书签</p>
				</a>
			</div>
			<!--添加结束-->
		</div>
	</div>
	<!--我的书签结束-->
	<!--我的笔记开始-->
	<div class="shuqianbox">
		<div class="box">
			<div class="shuqianlogo">
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>shuqian-small.jpg" alt="" />
				</div>
				<div class="righttext">
					<h2>我的笔记</h2>
					<p>THE LATEST BOOK REVIEW</p>
				</div>
			</div>
			<!--添加开始-->
			<div class="add">
				<a href="" class="inneradd">
					<div class="left iconfont icon-tianjia"></div>
					<p>添加笔记</p>
				</a>
			</div>
			<!--添加结束-->
		</div>
	</div>
	<!--我的笔记结束-->
	<!--相似书籍开始-->
	<div class="simibook">
		<div class="shuqianlogo">
			<div class="leftimg">
				<img src="<?php echo IMG_PATH ?>lhh_pen.png" alt="" />
			</div>
			<div class="righttext">
				<h2>相似书籍</h2>
				<p>THE LATEST BOOK REVIEW</p>
			</div>
		</div>
		<ul>
			<li><a href="">
				<div class="leftpoint"></div>
				<div class="rightpoint"></div>
				<div class="topimg"></div>
				<div class="text">
					<h2>村上春树猫</h2>
					<p>HARUKI</p>
				</div>
			</a></li>
			<li><a href="">
				<div class="leftpoint"></div>
				<div class="rightpoint"></div>
				<div class="topimg"></div>
				<div class="text">
					<h2>村上春树猫</h2>
					<p>HARUKI</p>
				</div>
			</a></li>
			<li class="none"><a href="">
				<div class="leftpoint"></div>
				<div class="rightpoint"></div>
				<div class="topimg"></div>
				<div class="text">
					<h2>村上春树猫</h2>
					<p>HARUKI</p>
				</div>
			</a></li>
		</ul>
	</div>
	<!--相似书籍结束-->
	<div class="btn">
		<ul>
			<li class="active"></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	
</body>
</html>