<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewpoint" content="width=device-width">
	<title>我要评论</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>lhh_comment.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo ICON_PATH ?>iconfont.css" />
</head>
<body>
	<!--头部开始-->
	<div class="header">
		<div class="back"></div>
		<div class="headercon">
			<h2>我要评论</h2>
			<div class="allrow">
				<div class="smallbox"></div>
			</div>
			<p>COMMENT</p>
		</div>
	</div>
	<!--头部结束-->
	<div class="star">
		<ul>
			<li class="iconfont icon-weibiaoti1"></li>
			<li class="iconfont icon-weibiaoti1"></li>
			<li class="iconfont icon-weibiaoti1"></li>
			<li class="iconfont icon-weibiaoti1"></li>
			<li id="last" class="iconfont icon-weibiaoti1"></li>
		</ul>
	</div>
	<!--正文开始-->
	<form action="">
		<textarea name="" id="zhengwen"></textarea>
	</form>
	<!--正文结束-->
	<!--遮罩-->
	<div class="zhezhao">
		<div class="combox">
			<div class="box">
				<div class="quxiao"></div>
				<a href="" class="sure" id="success"></a>
			</div>
			<div class="success">
				<h2>评 论 成 功</h2>
				<p class="p2">COMMENT SUCCESS</p>
			</div>
			<div class="fail">
				<h2>评 论 失 败</h2>
				<h2>请检查您的网络</h2>
				<p class="p2">COMMENT SUCCESS</p>
			</div>
		</div>
	</div>
	<!--评论-->
	
</body>
</html>