<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>书签笔记页</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>lhh_notetag.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo ICON_PATH ?>iconfont.css" />
</head>
<body>
	<!--头部开始-->
	<div class="header">
		<div class="back"></div>
	</div>
	<!--头部结束-->
	
	<!--书签列表开始-->
	<div class="notecon">
		<div class="shuqianlogo">
			<div class="leftimg">
				<img src="<?php echo IMG_PATH ?>shuqian-small.jpg" alt="" />
			</div>
			<div class="righttext">
				<h2>我的书签</h2>
				<p>THE LATEST BOOK REVIEW</p>
			</div>
		</div>
		<div class="notelist">
			<ul>
				<li>
					<div class="leftimg"></div>
					<div class="right">
						<h2>第一章 口吐莲花，会说话的聪明女人</h2>
						<p class="p1">"不绝之类的话，恐怕没有什么人会认为你真的是对他..."</p>
						<div class="bottom">
							<div class="date">
								<div class="dateimg iconfont icon-jinlingyingcaiwangtubiao74"></div>
								<p class="datetext">12:02</p>
							</div>
							<div class="date eye">
								<div class="dateimg iconfont icon-yanjing"></div>
								<p class="datetext">12%</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="leftimg"></div>
					<div class="right">
						<h2>第一章 口吐莲花，会说话的聪明女人</h2>
						<p class="p1">"不绝之类的话，恐怕没有什么人会认为你真的是对他..."</p>
						<div class="bottom">
							<div class="date">
								<div class="dateimg iconfont icon-jinlingyingcaiwangtubiao74"></div>
								<p class="datetext">12:02</p>
							</div>
							<div class="date eye">
								<div class="dateimg iconfont icon-yanjing"></div>
								<p class="datetext">12%</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="leftimg"></div>
					<div class="right">
						<h2>第一章 口吐莲花，会说话的聪明女人</h2>
						<p class="p1">"不绝之类的话，恐怕没有什么人会认为你真的是对他..."</p>
						<div class="bottom">
							<div class="date">
								<div class="dateimg iconfont icon-jinlingyingcaiwangtubiao74"></div>
								<p class="datetext">12:02</p>
							</div>
							<div class="date eye">
								<div class="dateimg iconfont icon-yanjing"></div>
								<p class="datetext">12%</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="lookall">
			<a href="/book/index.php/index/lhh_booktag"></a>
		</div>
	</div>
	<!--书签列表结束-->
	<!--我的笔记开始-->
	<div class="mynote">
		<div class="shuqianlogo">
			<div class="leftimg">
				<img src="<?php echo IMG_PATH ?>lhh_pen.png" alt="" />
			</div>
			<div class="righttext">
				<h2>我的笔记</h2>
				<p>THE LATEST BOOK REVIEW</p>
			</div>
		</div>
		<!--我的笔记内容开始-->
		<ul class="mynotecon">
			<li class="conli">
				<div class="left">
					<ul>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="right">
					<p>自己的所思所想...</p>
				</div>
			</li>
			<li class="conli" id="high">
				<div class="left">
					<ul>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="right">
					<p>人类感情是两人在社交网中建立起一种亲密的关系，这便是缘分的一种体现，如父子、夫妻，便会认为是比陌路人之间更有缘分，亦被简称为有缘。</p>
				</div>
			</li>
			<li class="conli">
				<div class="left">
					<ul>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="right">
					<p>人都是环境下的产物，我们该如何去选择感情</p>
				</div>
			</li>
			<li class="conli" id="high">
				<div class="left">
					<ul>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="right">
					<p>人类感情是两人在社交网中建立起一种亲密的关系，这便是缘分的一种体现，如父子、夫妻，便会认为是比陌路人之间更有缘分，亦被简称为有缘。</p>
				</div>
			</li>
		</ul>
		<div class="lookall">
			<a href="/book/index.php/index/lhh_note"></a>
		</div>
	</div>
	<!--我的笔记结束-->
	<!--相似书籍开始-->
	<div class="simibook">
		<div class="shuqianlogo">
			<div class="leftimg">
				<img src="<?php echo IMG_PATH ?>lhh_pen.png" alt="" />
			</div>
			<div class="righttext">
				<h2>相似书签</h2>
				<p>THE LATEST BOOK REVIEW</p>
			</div>
		</div>
		<ul>
			<li><a href="">
				<div class="leftpoint"></div>
				<div class="rightpoint"></div>
				<div class="topimg"></div>
				<div class="text">
					<h2>村上春树猫</h2>
					<p>HARUKI</p>
				</div>
			</a></li>
			<li><a href="">
				<div class="leftpoint"></div>
				<div class="rightpoint"></div>
				<div class="topimg"></div>
				<div class="text">
					<h2>村上春树猫</h2>
					<p>HARUKI</p>
				</div>
			</a></li>
			<li class="none"><a href="">
				<div class="leftpoint"></div>
				<div class="rightpoint"></div>
				<div class="topimg"></div>
				<div class="text">
					<h2>村上春树猫</h2>
					<p>HARUKI</p>
				</div>
			</a></li>
		</ul>
	</div>
	<!--相似书籍结束-->
	<div class="btn">
		<ul>
			<li class="active"></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>