<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>书页1</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>lhh_page1.css" />
</head>
<body>
	<div class="header">
		<div class="back"></div>
	</div>
	<div class="content">
		<div class="read">
			<div class="readtop">
				<div class="bookimg"></div>
				<div class="bookintro">
					<div class="bookname">缘分就是一本书 </div>
					<div class="fatebook">
						<div class="fate">FATE</div>
						<div class="book">BOOK</div>
					</div>
					<p>作者:鲁迅</p>
					<p>年代:近代</p>
					<ul class="star">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<div class="texts">这是一部文学类小说，记录了作者的言行举止，是一部古今中外的优秀作品，写了许多外国经典的任务故事...</div>
					<ul class="list">
						<li>文学</li>
						<li>名人</li>
						<li>小说</li>
					</ul>
				</div>
			</div>
			<div class="readcenter">
				<ul>
					<li>
						<div class="img">
							<img src="<?php echo IMG_PATH ?>book.jpg" alt="" />
						</div>
						<p>查看目录</p>
					</li>
					<li>
						<div class="img">
							<img src="<?php echo IMG_PATH ?>filebag.jpg" alt="" />
						</div>
						<p>加入书架</p>
					</li>
				</ul>
			</div>
			<div class="readbottom">
				<div class="img"></div>
			</div>
		</div>
		<div class="bookcomment">
			<div class="commenttitle">
				<div class="img"></div>
				<div class="texts">
					<p class="p1">最新书评</p>
					<p class="p2">THE LATEST BOOK REVIEW</p>
				</div>
			</div>
			<div class="commentlist">
				<ul>
					<li>
						<div class="leftimg">
							<img src="<?php echo IMG_PATH ?>1.jpg" alt="" />
						</div>
						<div class="right">
							<p class="texts">缘分，它是出自佛教的一种宗教概念，儒家和道家并不讲缘分，也不讲你与...</p>
							<div class="bottom">
								<div class="date">
									<div class="dateimg"></div>
									<div class="datetext">2016.10.18</div>
								</div>
								<div class="date collect">
									<div class="dateimg"></div>
									<div class="datetext">6434</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="leftimg">
							<img src="<?php echo IMG_PATH ?>2.jpg" alt="" />
						</div>
						<div class="right">
							<p class="texts">茫茫人海中两人从相遇，相识，相知，或是相亲相爱，这就是缘分；缘分无需等待...</p>
							<div class="bottom">
								<div class="date">
									<div class="dateimg"></div>
									<div class="datetext">2016.10.18</div>
								</div>
								<div class="date collect">
									<div class="dateimg"></div>
									<div class="datetext">6667</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="lookall">
			<a href="/book/index.php/index/lhh_allview" class="lookli"></a>
		</div>
	</div>
	<div class="shuqianbox">
		<div class="box">
			<div class="shuqianlogo">
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>shuqian-small.jpg" alt="" />
				</div>
				<div class="righttext">
					<h2>我的书签</h2>
					<p>THE LATEST BOOK REVIEW</p>
				</div>
			</div>
			<div class="shuqiancon">
				<div class="leftimg">
					<img src="<?php echo IMG_PATH ?>shuqian-big.jpg" alt="" />
				</div>
				<div class="righttext">
					<h2>第一章 口吐莲花，会说话的聪明女人惹</h2>
					<p>例如，当你见到一位相貌平平的先生，却偏要对他说我是...</p>
					<div class="bottom">
						<div class="date">
							<div class="dateimg"></div>
							<div class="datetext">0:55</div>
						</div>
						<di class="date view">
							<div class="dateimg"></div>
							<div class="datetext">10%</div>
						</di>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>