<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>目录页</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>y_catalog.css"/></head>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css"/>
<body>
<!--头部-->
    <div class="y_header">
        <!-- 返回-->
        <a href="#" class="y_back">
            <span class="iconfont">&#xf0292;</span>
        </a>
        <!-- 目录选项-->
        <div class="y_choice">
            <div class="y_dianone">
                <img src="<?php echo IMG_PATH ?>x_12.png" alt=""/>
            </div>
            <div class="y_dianone y_diantwo">
                <img src="<?php echo IMG_PATH ?>x_12.png" alt=""/>
            </div>
            <a href="#" class="y_words y_showing">
                <img src="<?php echo IMG_PATH ?>x_16.png" alt="" class="y_show"/>
                <img src="<?php echo IMG_PATH ?>x_11.png" alt="" class="y_hid"/>
            </a>
            <a href="#" class="y_words y_wordstwo">
                <img src="<?php echo IMG_PATH ?>x_13.png" alt="" class="y_show"/>
                <img src="<?php echo IMG_PATH ?>x_15.png" alt="" class="y_hid"/>
            </a>
            <a href="#" class="y_words y_wordsthree">
                <img src="<?php echo IMG_PATH ?>x_14.png" alt="" class="y_show"/>
                <img src="<?php echo IMG_PATH ?>x_17.png" alt="" class="y_hid"/>
            </a>
        </div>
    </div>
<!--内容-->
    <div class="y_content">
        <ul class="y_list-ul">
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read" class="catalog">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">已下载</div>
                </a>
            </li>
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">未下载</div>
                </a>
            </li>
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">已下载</div>
                </a>
            </li>
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">已下载</div>
                </a>
            </li>
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">已下载</div>
                </a>
            </li>
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">已下载</div>
                </a>
            </li>
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">已下载</div>
                </a>
            </li>
            <li class="y_list-li">
                <a href="/book/index.php/index/y_read">
                    <div class="y_zheng">正文</div>
                    <div class="y_zhang">第一章</div>
                    <div class="y_name">见鬼了</div>
                    <div class="y_have">已下载</div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>