<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>剪切页</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>y_cut.css"/>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css"/>
</head>
<body>
    <div class="y_content">
        <div class="y_nav">
            <div class="y_top">
                <span class="y_xian"></span>
                <i>最强小农民</i>
            </div>
            <div class="y_bottom">
                <h5 class="y_juan">第一卷</h5>
                <h5 class="y_zhang">第一章</h5>
                <h5 class="y_name">又见鬼了！</h5>
            </div>
        </div>
        <div class="y_allbiao">
            <div class="y_biao">
                <a href="#" class="y_copy">标注</a>
                <a href="y_note.html" class="y_copy">笔记</a>
                <a href="#" class="y_copy">拷贝</a>
                <a href="#" class="y_copy">搜索</a>
                <a href="#" class="y_copy">词典</a>
            </div>
            <img src="<?php echo CSS_PATH ?>y_7.png" alt="" class="y_san"/>
        </div>
        <!-- 选中文字效果-->
        <div class="y_redxuan">
            <img src="<?php echo CSS_PATH ?>y_9.png" alt=""/>
            <img src="<?php echo CSS_PATH ?>y_8.png" alt="" class="y_li"/>
        </div>

        <div class="y_container">
                <pre class="y_nei">
                        在族长与一些老人的祷告下，所有青壮年都露出郑重之色，进行礼拜。而不少妇孺也都赶了过来，默默祈祷，祈求去狩猎的亲人可以无恙的回来。

        山脉中太危险，离开柳木守护的村子，外面将是一个完全不同的世界，那里充满了恐怖的猛禽与巨兽。

        就这样，村中最强壮的一批人背着巨弓、带着阔剑出发了，走进了山川大泽间，顿时一股大荒气息迎面扑来。

        目送狩猎队伍离去，老族长石云峰领着一群孩子来到村头的草地上，盘坐下来，道：“好了，你们这群皮猴子也该用功学习了。”

        一群孩子顿时愁眉苦脸，一个个没精打采，不情不愿的围坐在了四周，像是晒蔫了的叶子一般。

        “族长爷爷，那些鸟文龟字像鬼怪符一样复杂，实在难学，用心记它做什么？”
                </pre>
        </div>
        <div class="y_foot">
            <div class="y_pro">
                <i>本章进度</i>
                <b>0%</b>
            </div>
            <div class="y_page">
                <b>1</b>
                <i>/</i>
                <em>468</em>
            </div>
        </div>
    </div>
</body>
</html>