<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>我的笔记</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>y_note.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo CSS_PATH ?>public.css" />
</head>
<body>
	<!--头部开始-->
	<div class="header">
		<div class="back">
			<span class="iconfont">&#xf0292;</span>
		</div>
		<div class="headercon">
			<h2>我的笔记</h2>
			<div class="allrow">
				<div class="smallbox"></div>
			</div>
			<p>MY NOTES</p>
		</div>
	</div>
	<!--头部结束-->
	<!--头部下面开始-->
	<div class="y_time">
		<span class="iconfont">&#xe695;</span>
		<div class="y_timer">2016.10.31</div>
		<div class="y_noon">AM</div>
		<div class="y_clock">9:00</div>
	</div>
<!--输入框-->
	<div class="y_write">
		<div class="y_kxian"></div>
		<div class="y_kuang">
			<pre>   在族长与一些老人的祷告下，所有青壮年都露出郑重之色，进行礼拜。而不少妇孺也都赶了过来，默默祈祷，祈求去狩猎的亲人可以无恙的回来。</pre>
		</div>
	</div>
	<div class="y_gai">
		<input type="text" value="编辑..." class="y_bian"/>
	</div>
<!--编辑确认-->
	<div class="y_bqk">
		<a href="#" class="y_bikuang">
			<img src="<?php echo IMG_PATH ?>y_2.jpg" alt=""/>
		</a>
		<a href="/book/index.php/index/y_noteall" class="y_sure">
			<img src="<?php echo IMG_PATH ?>y_3.jpg" alt=""/>
		</a>
	</div>
</body>
</html>