<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width">
	<title>笔记</title>
	<link rel="stylesheet" href="<?php echo CSS_PATH ?>y_noteall.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo ICON_PATH ?>iconfont.css" />
</head>
<body>
	<!--头部开始-->
	<div class="y_header">
		<!-- 返回-->
		<a href="#" class="y_back">
			<span class="iconfont">&#xf0292;</span>
		</a>
		<!-- 目录选项-->
		<div class="y_choice">
			<div class="y_dianone">
				<img src="<?php echo IMG_PATH ?>x_12.png" alt=""/>
			</div>
			<div class="y_dianone y_diantwo">
				<img src="<?php echo IMG_PATH ?>x_12.png" alt=""/>
			</div>
			<a href="#" class="y_words">
				<img src="<?php echo IMG_PATH ?>x_16.png" alt="" class="y_show"/>
				<img src="<?php echo IMG_PATH ?>x_11.png" alt="" class="y_hid"/>
			</a>
			<a href="#" class="y_words y_wordstwo">
				<img src="<?php echo IMG_PATH ?>x_13.png" alt="" class="y_show"/>
				<img src="<?php echo IMG_PATH ?>x_15.png" alt="" class="y_hid"/>
			</a>
			<a href="#" class="y_words y_wordsthree y_showing">
				<img src="<?php echo IMG_PATH ?>x_14.png" alt="" class="y_show"/>
				<img src="<?php echo IMG_PATH ?>x_17.png" alt="" class="y_hid"/>
			</a>
		</div>
	</div>
	<!--头部结束-->
	<!--头部下面开始-->
	<div class="count">
		<p>目前您有3条读书笔记...</p>
	</div>
	<!--头部下面结束-->
	<!--笔记列表开始-->
	<div class="notelist">
		<ul>
			<li>
				<div class="leftimg"></div>
				<div class="right">
					<h2>第一章 口吐莲花，会说话的聪明女人</h2>
					<p class="p1">"不绝之类的话，恐怕没有什么人会认为你真的是对他..."</p>
					<div class="descripe">
						<div class="left iconfont icon-bi"></div>
						<div class="rights">
							<p>这里运用排比的修辞手法形象生动的说明...心情务必激动，看到睡不着！</p>
						</div>
					</div>
					<div class="bottom">
						<div class="date">
							<div class="dateimg iconfont icon-jinlingyingcaiwangtubiao74"></div>
							<p class="datetext">12:02</p>
						</div>
						<div class="date eye">
							<div class="dateimg iconfont icon-yanjing"></div>
							<p class="datetext">12%</p>
						</div>
					</div>
				</div>
			</li>
			<li class="active">
				<div class="right">
					<h2>第一章 口吐莲花，会说话的聪明女人</h2>
					<p class="p1">"不绝之类的话，恐怕没有什么人会认为你真的是对他..."</p>
					<div class="descripe">
						<div class="left iconfont icon-bi"></div>
						<div class="rights">
							<p>这里运用排比的修辞手法形象生动的说明...心情务必激动，看到睡不着！</p>
						</div>
					</div>
					<div class="bottom">
						<div class="date">
							<div class="dateimg iconfont icon-jinlingyingcaiwangtubiao74"></div>
							<p class="datetext">12:02</p>
						</div>
						<div class="date eye">
							<div class="dateimg iconfont icon-yanjing"></div>
							<p class="datetext">12%</p>
						</div>
					</div>
				</div>
			</li>
			<li class="third">
				<div class="leftimg"></div>
				<div class="right">
					<h2>第一章 口吐莲花，会说话的聪明女人</h2>
					<p class="p1">"不绝之类的话，恐怕没有什么人会认为你真的是对他..."</p>
					<div class="descripe">
						<div class="left iconfont icon-bi"></div>
						<div class="rights">
							<p>这里运用排比的修辞手法形象生动的说明...心情务必激动，看到睡不着！</p>
						</div>
					</div>
					<div class="bottom">
						<div class="date">
							<div class="dateimg iconfont icon-jinlingyingcaiwangtubiao74"></div>
							<p class="datetext">12:02</p>
						</div>
						<div class="date eye">
							<div class="dateimg iconfont icon-yanjing"></div>
							<p class="datetext">12%</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!--笔记列表结束-->
	<!--页脚-->
	<div class="foot">
		<a href="" class="lookall"></a>
	</div>
</body>
</html>