<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>精选</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>z_jingxuan.css">
</head>
<body>
<!--头部 开始-->
<div class="z_nav_box">
    <div class="z_shai">
        <div class="z_shai_left z_shai_all active">
            <img src="<?php echo IMG_PATH ?>jingxuan.png" alt="">
            <div class="z_dian">
                <span class="z_dian_left"></span>
                <span class="z_dian_left"></span>
                <span class="z_dian_right"></span>
                <span class="z_dian_right"></span>
            </div>
        </div>
        <div class="z_shai_mid  z_shai_all">
            <img src="<?php echo IMG_PATH ?>bangdan.png" alt="">
            <div class="z_dian">
                <span class="z_dian_left"></span>
                <span class="z_dian_left"></span>
                <span class="z_dian_right"></span>
                <span class="z_dian_right"></span>
            </div>
        </div>
        <div class="z_shai_right z_shai_all">
            <img src="<?php echo IMG_PATH ?>fenlei.png" alt="">
            <div class="z_dian">
                <span class="z_dian_left"></span>
                <span class="z_dian_left"></span>
                <span class="z_dian_right"></span>
                <span class="z_dian_right"></span>
            </div>
        </div>
        <div class="z_shu_all z_shu_left"><img src="<?php echo IMG_PATH ?>shu.png" alt=""></div>
        <div class="z_shu_all z_shu_right"><img src="<?php echo IMG_PATH ?>shu.png" alt=""></div>
    </div>
    <div class="z_nav_search">
        <a href="/book/index.php/index/z_search"><img src="<?php echo IMG_PATH ?>search.png" alt=""></a>
    </div>
</div>
<!--头部 结束-->

<!--banner 开始-->
<div class="z_banner_box">
    <img src="<?php echo IMG_PATH ?>banner2.png" alt="">
    <ul class="z_btn_box">
        <li class="z_btn active"></li>
        <li class="z_btn"></li>
        <li class="z_btn"></li>
    </ul>
</div>
<!--banner 结束-->



<!--最新上架 开始-->
<div class="z_releases">
    <div class="z_rel_top">
        <div class="z_rel_star"><span class="iconfont">&#xe6cc;</span></div>
        <div class="z_rel_title">
            <span>最新上架</span><img src="<?php echo IMG_PATH ?>dian.png" alt="">
            <h6>NEW RELEASES</h6>
        </div>
    </div>
    <div class="z_rel_bottom">
        <div class="z_book_box">
            <ul class="z_book_back">
                <li class="z_img_li"><img src="<?php echo IMG_PATH ?>book5.png" alt=""></li>
                <li class="z_zuozhe"><a href="#">地狱（电影《但丁密码》原著）</a></li>
                <li class="z_jianjie"><a href="#">美 丹布朗</a></li>
            </ul>
            <ul class="z_book_back">
                <li class="z_img_li"><img src="<?php echo IMG_PATH ?>book5.png" alt=""></li>
                <li class="z_zuozhe"><a href="#">地狱（电影《但丁密码》原著）</a></li>
                <li class="z_jianjie"><a href="#">美 丹布朗</a></li>
            </ul>
            <ul class="z_book_back">
                <li class="z_img_li"><img src="<?php echo IMG_PATH ?>book5.png" alt=""></li>
                <li class="z_zuozhe"><a href="#">地狱（电影《但丁密码》原著）</a></li>
                <li class="z_jianjie"><a href="#">美 丹布朗</a></li>
            </ul>
            <ul class="z_book_back">
                <li class="z_img_li"><img src="<?php echo IMG_PATH ?>book5.png" alt=""></li>
                <li class="z_zuozhe"><a href="#">地狱（电影《但丁密码》原著）</a></li>
                <li class="z_jianjie"><a href="#">美 丹布朗</a></li>
            </ul>
            <ul class="z_book_back">
                <li class="z_img_li"><img src="<?php echo IMG_PATH ?>book5.png" alt=""></li>
                <li class="z_zuozhe"><a href="#">地狱（电影《但丁密码》原著）</a></li>
                <li class="z_jianjie"><a href="#">美 丹布朗</a></li>
            </ul>
            <ul class="z_book_back">
                <li class="z_img_li"><img src="<?php echo IMG_PATH ?>book5.png" alt=""></li>
                <li class="z_zuozhe"><a href="#">地狱（电影《但丁密码》原著）</a></li>
                <li class="z_jianjie"><a href="#">美 丹布朗</a></li>
            </ul>
        </div>
    </div>
</div>
<!--最新上架 结束-->


<!--foot 开始-->
<div class="z_foot_box row">
    <a href="/book/index.php/index/z_mybook">
        <div class="z_foot col-4">
            <li><span class="iconfont z_logo_span">&#xe68e;</span></li>
            <li><span class="z_wenzi_span">书架</span></li>
        </div>
    </a>
    <a href="/book/index.php/index/z_jingxuan">
        <div class="z_foot active col-4 iconfont">
            <li><span class="iconfont z_logo_span">&#xe613;</span></li>
            <li><span class="z_wenzi_span">书城</span></li>
        </div>
    </a>
    <a href="/book/index.php/index/h_personal_center">
        <div class="z_foot col-4 iconfont">
            <li><span class="iconfont z_logo_span">&#xe64f;</span></li>
            <li><span class="z_wenzi_span">我的</span></li>
        </div>
    </a>
</div>
<!--foot结束-->
</body>
</html>