<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>搜索列表界面</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>z_search_list.css">
</head>
<body>
<!--头部 开始-->
<div class="z_nav_box">
    <a href="/book/index.php/index/z_search"><div class="z_nav_left iconfont">&#xf0292;</div></a>
    <div class="z_nav_mid">
        <div class="z_search"><img src="<?php echo IMG_PATH ?>search1.png" alt=""></div>
        <input type="text" value="服装设计学">
    </div>
    <a href="/book/index.php/index/z_shaixuan"><div class="z_nav_right iconfont">&#xe606;</div></a>
</div>
<!--头部 结束-->

<!--内容 开始-->
<div class="z_con_box">
    <div class="z_book_box">
        <div class="z_book_img"><img src="<?php echo IMG_PATH ?>book4.png" alt=""></div>
        <div class="z_book_jianjie">
            <div class="z_shu">
                <h4>《服装设计学》</h4>
                <h6>FASHION DESIGN</h6>
                <a href="#">本书着重阐述了服装设计的基本原理与
                    技术...</a>
            </div>
            <div class="z_zuozhe">
                <ul class="z_name"><span>作者: </span><span>袁仄</span></ul>
                <ul class="z_zishu"><span>字数: </span><span>6.83万字</span></ul>
                <ul class="z_star">
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont">&#xe627;</span>
                </ul>
                <div class="z_chakan">
                    <div class="z_dian_left"></div>
                    <a href="#" class="z_dianji iconfont">&#xe638;点击查看</a>
                    <div class="z_dian_right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="z_book_box">
        <div class="z_book_img"><img src="<?php echo IMG_PATH ?>book4.png" alt=""></div>
        <div class="z_book_jianjie">
            <div class="z_shu">
                <h4>《服装设计学》</h4>
                <h6>FASHION DESIGN</h6>
                <a href="#">本书着重阐述了服装设计的基本原理与
                    技术...</a>
            </div>
            <div class="z_zuozhe">
                <ul class="z_name"><span>作者: </span><span>袁仄</span></ul>
                <ul class="z_zishu"><span>字数: </span><span>6.83万字</span></ul>
                <ul class="z_star">
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont">&#xe627;</span>
                </ul>
                <div class="z_chakan">
                    <div class="z_dian_left"></div>
                    <a href="#" class="z_dianji iconfont">&#xe638;点击查看</a>
                    <div class="z_dian_right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="z_book_box">
        <div class="z_book_img"><img src="<?php echo IMG_PATH ?>book4.png" alt=""></div>
        <div class="z_book_jianjie">
            <div class="z_shu">
                <h4>《服装设计学》</h4>
                <h6>FASHION DESIGN</h6>
                <a href="#">本书着重阐述了服装设计的基本原理与
                    技术...</a>
            </div>
            <div class="z_zuozhe">
                <ul class="z_name"><span>作者: </span><span>袁仄</span></ul>
                <ul class="z_zishu"><span>字数: </span><span>6.83万字</span></ul>
                <ul class="z_star">
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont">&#xe627;</span>
                </ul>
                <div class="z_chakan">
                    <div class="z_dian_left"></div>
                    <a href="#" class="z_dianji iconfont">&#xe638;点击查看</a>
                    <div class="z_dian_right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="z_book_box">
        <div class="z_book_img"><img src="<?php echo IMG_PATH ?>book4.png" alt=""></div>
        <div class="z_book_jianjie">
            <div class="z_shu">
                <h4>《服装设计学》</h4>
                <h6>FASHION DESIGN</h6>
                <a href="#">本书着重阐述了服装设计的基本原理与
                    技术...</a>
            </div>
            <div class="z_zuozhe">
                <ul class="z_name"><span>作者: </span><span>袁仄</span></ul>
                <ul class="z_zishu"><span>字数: </span><span>6.83万字</span></ul>
                <ul class="z_star">
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont">&#xe627;</span>
                </ul>
                <div class="z_chakan">
                    <div class="z_dian_left"></div>
                    <a href="#" class="z_dianji iconfont">&#xe638;点击查看</a>
                    <div class="z_dian_right"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="z_book_box">
        <div class="z_book_img"><img src="<?php echo IMG_PATH ?>book4.png" alt=""></div>
        <div class="z_book_jianjie">
            <div class="z_shu">
                <h4>《服装设计学》</h4>
                <h6>FASHION DESIGN</h6>
                <a href="#">本书着重阐述了服装设计的基本原理与
                    技术...</a>
            </div>
            <div class="z_zuozhe">
                <ul class="z_name"><span>作者: </span><span>袁仄</span></ul>
                <ul class="z_zishu"><span>字数: </span><span>6.83万字</span></ul>
                <ul class="z_star">
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont active">&#xe627;</span>
                    <span class="iconfont">&#xe627;</span>
                </ul>
                <div class="z_chakan">
                    <div class="z_dian_left"></div>
                    <a href="#" class="z_dianji iconfont">&#xe638;点击查看</a>
                    <div class="z_dian_right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容 结束-->

<!--foot 开始-->
<div class="z_foot_box row">
    <a href="/book/index.php/index/z_mybook">
        <div class="z_foot active col-4">
            <li><span class="iconfont z_logo_span">&#xe68e;</span></li>
            <li><span class="z_wenzi_span">书架</span></li>
        </div>
    </a>
    <a href="/book/index.php/index/z_jingxuan">
        <div class="z_foot col-4 iconfont">
            <li><span class="iconfont z_logo_span">&#xe613;</span></li>
            <li><span class="z_wenzi_span">书城</span></li>
        </div>
    </a>
    <a href="/book/index.php/index/h_personal_center">
        <div class="z_foot col-4 iconfont">
            <li><span class="iconfont z_logo_span">&#xe64f;</span></li>
            <li><span class="z_wenzi_span">我的</span></li>
        </div>
    </a>
</div>
<!--foot结束-->
</body>
</html>