<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>搜索界面</title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>public.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>z_search.css">
</head>
<body>
<!--头部 开始-->
<div class="z_nav_box">
    <a href="/book/index.php/index/z_mybook"><div class="z_nav_left iconfont">&#xf0292;</div></a>
    <div class="z_nav_mid">
        <div class="z_search"><a href="/book/index.php/index/z_search_list"><img src="<?php echo IMG_PATH ?>search1.png" alt=""></a></div>
        <input type="text" value="搜索本地及网络书籍">
    </div>
    <div class="z_nav_right iconfont">&#xe68d;</div>
</div>
<!--头部 结束-->

<!--内容 开始-->
<div class="z_con_box">
    <div class="z_rel_top">
        <div class="z_rel_star"><span class="iconfont">&#xe6cc;</span></div>
        <div class="z_rel_title">
            <span>热门搜索</span><img src="<?php echo IMG_PATH ?>dian.png" alt="">
            <h6>HOT SEARCH</h6>
        </div>
    </div>
    <div class="z_hot">
        <div class="z_hot_book">
           <div class="z_hot_img">
               <img src="<?php echo IMG_PATH ?>book3.png" alt="">
           </div>
           <div class="z_hot_jianjie">
               <h4>《汉字:汉字设计与应用》</h4>
               <h5>一本关于汉字设计与美学的书，能够彰
                   显出当代汉字及汉字...</h5>
               <div class="z_jianjie_bottom">
                   <ul class="z_chuban">
                       <span class="iconfont">&#xe61c;</span>
                       <span class="z_zhi">华中大学出版社</span>
                   </ul>
                   <ul class="z_dizhi">
                       <span class="iconfont">&#xe60e;</span>
                       <span class="z_zhi">图书馆二层</span>
                   </ul>
               </div>
           </div>
        </div>
        <div class="z_hot_book">
            <div class="z_hot_img">
                <img src="<?php echo IMG_PATH ?>book3.png" alt="">
            </div>
            <div class="z_hot_jianjie">
                <h4>《汉字:汉字设计与应用》</h4>
                <h5>一本关于汉字设计与美学的书，能够彰
                    显出当代汉字及汉字...</h5>
                <div class="z_jianjie_bottom">
                    <ul class="z_chuban">
                        <span class="iconfont">&#xe61c;</span>
                        <span class="z_zhi">华中大学出版社</span>
                    </ul>
                    <ul class="z_dizhi">
                        <span class="iconfont">&#xe60e;</span>
                        <span class="z_zhi">图书馆二层</span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="z_hot_book">
            <div class="z_hot_img">
                <img src="<?php echo IMG_PATH ?>book3.png" alt="">
            </div>
            <div class="z_hot_jianjie">
                <h4>《汉字:汉字设计与应用》</h4>
                <h5>一本关于汉字设计与美学的书，能够彰
                    显出当代汉字及汉字...</h5>
                <div class="z_jianjie_bottom">
                    <ul class="z_chuban">
                        <span class="iconfont">&#xe61c;</span>
                        <span class="z_zhi">华中大学出版社</span>
                    </ul>
                    <ul class="z_dizhi">
                        <span class="iconfont">&#xe60e;</span>
                        <span class="z_zhi">图书馆二层</span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="z_hot_book">
            <div class="z_hot_img">
                <img src="<?php echo IMG_PATH ?>book3.png" alt="">
            </div>
            <div class="z_hot_jianjie">
                <h4>《汉字:汉字设计与应用》</h4>
                <h5>一本关于汉字设计与美学的书，能够彰
                    显出当代汉字及汉字...</h5>
                <div class="z_jianjie_bottom">
                    <ul class="z_chuban">
                        <span class="iconfont">&#xe61c;</span>
                        <span class="z_zhi">华中大学出版社</span>
                    </ul>
                    <ul class="z_dizhi">
                        <span class="iconfont">&#xe60e;</span>
                        <span class="z_zhi">图书馆二层</span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="z_hot_book">
            <div class="z_hot_img">
                <img src="<?php echo IMG_PATH ?>book3.png" alt="">
            </div>
            <div class="z_hot_jianjie">
                <h4>《汉字:汉字设计与应用》</h4>
                <h5>一本关于汉字设计与美学的书，能够彰
                    显出当代汉字及汉字...</h5>
                <div class="z_jianjie_bottom">
                    <ul class="z_chuban">
                        <span class="iconfont">&#xe61c;</span>
                        <span class="z_zhi">华中大学出版社</span>
                    </ul>
                    <ul class="z_dizhi">
                        <span class="iconfont">&#xe60e;</span>
                        <span class="z_zhi">图书馆二层</span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内荣 结束-->

<!--foot 开始-->
<div class="z_foot_box row">
    <a href="/book/index.php/index/z_mybook">
        <div class="z_foot active col-4">
            <li><span class="iconfont z_logo_span">&#xe68e;</span></li>
            <li><span class="z_wenzi_span">书架</span></li>
        </div>
    </a>
    <a href="/book/index.php/index/z_jingxuan">
        <div class="z_foot col-4 iconfont">
            <li><span class="iconfont z_logo_span">&#xe613;</span></li>
            <li><span class="z_wenzi_span">书城</span></li>
        </div>
    </a>
    <a href="/book/index.php/index/h_personal_center">
        <div class="z_foot col-4 iconfont">
            <li><span class="iconfont z_logo_span">&#xe64f;</span></li>
            <li><span class="z_wenzi_span">我的</span></li>
        </div>
    </a>
</div>
<!--foot结束-->
</body>
</html>