<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width'>
    <title></title>
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>col.css">
    <link rel="stylesheet" href="<?php echo CSS_PATH ?>sign.css">
</head>
<body>
<div class="fullScreen">
    <!--头部开始-->
    <div class="header container">
        <div class="title">
            <h4>注册</h4>
            <div class="return"><a href="/book/index.php/index/lhh_load"></a></div>
        </div>
        <div class="logo">LOGO</div>
    </div>
    <!--头部结束-->
    <!--输入开始-->
    <div class="load container">
        <form action="">
            <ul class="list">
                <li>
                    <div class="icon personal"></div>
                    <input type="text" name="admin" placeholder="请输入您的学号/工号">
                </li>
                <li>
                    <div class="icon personal"></div>
                    <input type="text" name="name" placeholder="请输入您的姓名">
                </li>
                <li>
                    <div class="icon password"></div>
                    <input type="text" name="password" placeholder="请输入6-12位密码">
                </li>
                <li>
                    <div class="icon password"></div>
                    <input type="text" name="passAgain" placeholder="请再次输入密码">
                </li>
                <li>
                    <div class="icon phone"></div>
                    <input type="text" name="phone" placeholder="请输入您的手机号">
                </li>
                <li class="sendCode">
                    <a href="javascript:;">
                        <h4>发送验证码</h4>
                        <h3>Send Verification Code</h3>
                    </a>
                </li>
                <li class="setCode">
                    <input type="text" name="password" placeholder="输入验证码">
                </li>
            </ul>
            <ol class="sign">
                <li class="key"><a href="/book/index.php/index/lhh_retrievePass">找回密码</a></li>
                <li class="signIn"><a href="/book/index.php/index/lhh_load">我要登录</a></li>
            </ol>
        </form>
    </div>
    <!--输入结束-->
    <!--提交开始-->
    <div class="button">
        <p>
            <a href="">立即注册</a>
            <i class="left"></i>
            <i class="right"></i>
        </p>
    </div>
    <!--提交结束-->
</div>
</body>
</html>